@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Noto+Sans+TC:wght@400;900&display=swap');

html, body {
  height: 100%;
}

html,body,*,*::after,*::before {
  @apply text-gray-1200 text-base font-sans leading-tight box-border duration-300;
}

body.Body--Modal-open-disable-scroll {
  overflow: hidden;
}


body:not(.Body--Modal-open-disable-scroll){
 overflow-x: hidden;
}

img {
  @apply object-cover;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 1000px rgba(255,255,255,0) inset;
    transition: background-color 5000s ease-in-out 0s;
}

[role='button'],
[role='presentation'] {
  @apply cursor-pointer outline-none;
} 
@layer utilities {
  @media (min-width: 1480px) {
    .nth-last-child-two{
      &:nth-last-child(2){
        border:none
      }
    }
  }
  
  .min-h-mobile {
    min-height:calc(100vh - 120px);
  }
  .h-mobile-chat{
    height:calc(100% - 60px);
  }
}
@layer components {
  .text-overflow {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
  .login-line {
    @apply relative top-1 w-5 h-0.5 bg-primary-500 mr-2 rotate-[70deg] before:w-2 before:h-2 before:rounded-full before:bg-primary-500 before:absolute before:-top-[3px] before:-left-[6px];
  }
  .button-3d {
    @apply inline-flex shrink-0	items-center justify-center rounded px-4	pt-1.5 pb-2.5  duration-500 bg-gradient-to-center from-transparent;
  }

  .button-3d-primary {
    @apply bg-primary-700  to-button3dGradient text-white shadow-button-3d hover:shadow-button-3d-hover
    hover:bg-primary-600 hover:bg-gradient-to-center-hover hover:to-button3dGradientHover;
  }
  
  .button-3d-disabled {
    @apply text-gray-200 shadow-button-3d-disable bg-gray-700 to-button3dGradientDisable pointer-events-none;
  }


  .button-3d-rounded {
    @apply rounded-full pt-0.5 pb-1 px-3 shadow-button-3d-rounded text-sm hover:shadow-button-3d-rounded-hover;
  }

  .button-3d-rounded-disabled {
    @apply text-gray-200 text-sm shadow-button-3d-rounded-disable bg-gray-700 to-button3dGradientDisable pointer-events-none;
  }

  .login-circle {
    
    @apply absolute w-full h-full flex items-center justify-center;
  }
  .circle1 {
    animation: spin1 20s infinite linear;
  }

  .circle2 {
    animation: spin2 20s infinite linear;
  }

  .circle3 {
    animation: spin3 20s infinite linear;
  }

  .small-circle1 {
    animation: small-spin1 25s infinite linear;
  }

  .small-circle2 {
    animation: small-spin2 25s infinite linear;
  }

  .rotate-login-circle{
    animation: rotate-circle 60s infinite linear reverse;
  }
  .rotate-small-login-circle{
    animation: rotate-circle 80s infinite linear;
  }
  .login-circle-img {
    @apply border-4 border-gray-100 rounded-full shadow-login;
  }
}

@keyframes spin1{ 
  from { 
    transform: rotate(45deg) translateY(-456px) translateY(50%) rotate(405deg); 
  } to { 
    transform: rotate(405deg) translateY(-456px) translateY(50%) rotate(45deg); 
  }
}

@keyframes spin2{ 
  from { 
    transform: rotate(135deg) translateY(-456px) translateY(50%) rotate(495deg); 
  } to { 
    transform: rotate(495deg) translateY(-456px) translateY(50%) rotate(135deg); 
  }
}

@keyframes spin3{ 
  from { 
    transform: rotate(-90deg) translateY(-456px) translateY(50%) rotate(270deg); 
  } to { 
    transform: rotate(270deg) translateY(-456px) translateY(50%) rotate(-90deg); 
  }
}

@keyframes small-spin1{ 
  from { 
    transform: rotate(390deg) translateY(-260px) translateY(50%) rotate(30deg); 
  } to { 
    transform: rotate(30deg) translateY(-260px) translateY(50%) rotate(390deg); 
  }
}

@keyframes small-spin2{ 
  from { 
    transform: rotate(210deg) translateY(-260px) translateY(50%) rotate(-150deg); 
  } to { 
    transform: rotate(-150deg) translateY(-260px) translateY(50%) rotate(210deg); 
  }
}

@keyframes rotate-circle{ 
  from { 
    transform: rotate(0deg)
  } to { 
    transform: rotate(360deg)
  }
}
.swiper-wrapper {
  @apply flex items-center;
}
.swiper-slide {
  max-height: 740px;
}
.swiper-pagination-bullet {
  @apply opacity-50;
}

.swiper-pagination-bullet-active {
  @apply bg-primary-600 opacity-100;
}

.swiper-button-next, .swiper-button-prev {
box-shadow: 1px 1px 3px rgba(0,0,0,0.2);
 @apply opacity-0  group-hover:opacity-100 flex items-center justify-center w-6 h-6 rounded-full bg-white/60 hover:bg-white/80 after:bg-[url('./Post/PostSwiper/assets/arrow.svg')] after:w-full after:h-full after:bg-no-repeat after:bg-center;
}
.swiper-button-prev {
  @apply after:rotate-180;
}
