:global(.Body--Loading-disable-scroll) {
  overflow: hidden;
}

.root {
  @apply fixed top-0 left-0 z-20 flex items-center justify-center w-full h-full bg-black/70;
}

.loading {
  @apply w-[300px] h-[300px] flex items-center justify-center;
}

.circle {
  @apply absolute flex items-center justify-center rounded-full;
}

.blue {
  animation: spin3D 3s linear 0.2s infinite;
  @apply w-[165px] h-[165px] border border-[#91daff];
}

.green {
  animation: spin3D 2s linear 0s infinite;
  @apply w-[120px] h-[120px] border border-[#91ffbf];
}

.red {
  animation: spin3D 1s linear 0s infinite;
  @apply w-[90px] h-[90px] border border-[#ffca91];
}

.white {
  @apply w-[60px] h-[60px] border-2 border-white;
}

.w1 {
  animation: spin3D-w1 10s linear 0s infinite;
  transform: rotate3d(1, 1, 1, 90deg);
}

.w2 {
  animation: spin3D-w2 10s linear 0s infinite;
  transform: rotate3d(1, 2, 0.5, 90deg);
}

.w3 {
  animation: spin3D-w3 10s linear 0s infinite;
  transform: rotate3d(0.5, 1, 2, 90deg);
}

@keyframes spin3D {
  from {
    transform: rotate3d(0.5, 0.5, 0.5, 360deg);
  }
  to {
    transform: rotate3d(0, 0, 0, 0deg);
  }
}

@keyframes spin3D-w1 {
  from {
    transform: rotate3d(0.5, 0.5, 0.5, 360deg);
  }
  to {
    transform: rotate3d(1, 1, 1, 90deg);
  }
}

@keyframes spin3D-w2 {
  from {
    transform: rotate3d(0.5, 0.5, 0.5, 360deg);
  }
  to {
    transform: rotate3d(1, 2, 0.5, 90deg);
  }
}

@keyframes spin3D-w3 {
  from {
    transform: rotate3d(0.5, 0.5, 0.5, 360deg);
  }
  to {
    transform: rotate3d(0.5, 1, 2, 90deg);
  }
}
